*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d0d0d;
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#111;
}

header h1{
    color:#39ff14;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:50px;
    color:#39ff14;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

button{
    background:#39ff14;
    color:black;
    border:none;
    padding:15px 30px;
    border-radius:30px;
    cursor:pointer;
    font-size:18px;
}
